nbproject
._*
.vagrant
.~lock.*
.buildpath
.project
.settings


data/cache/*
!data/cache/.gitkeep
!data/cache/index.php
backup/*
!backup/index.php
public/uploads/*
!public/uploads/index.php
public/temporary/*
!public/temporary/index.php
vendor/
error_log
.DS_Store
[Tt]humbs.db

# glob-style ignores
error.log
errors.log
npm-debug.log
Thumbs.db
Thumbs.db.orig
.DS_Store.orig
rector.php
.env
.idea
config/autoload/custom.global.php
config/development.config.php
snyk_rules.instructions.md

compose.override.yaml
composer.phar

# Snyk Security Extension 
.github/instructions/snyk_rules.instructions.md
