{
    admin off
    auto_https off
    log {
        output stdout
        format json
    }
    servers :80 {
        protocol {
            allow_h2c
        }
    }
}
:80 {
    root * /app/public

    log

    # Block special endpoints https://datatracker.ietf.org/doc/html/rfc8615
    respond /.well-known/* "This server is not authorized to serve well-known locations" 403

    php_fastcgi {$PHP_FPM_UPSTREAM:"app:9000"}
}
